.menuDrawer{
    transform: translateX(150%);
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
    transition: .5s ease-in-out;
}

.closeMenu{
    color: var(--orange);
    margin: 1rem;
    font-size: 1.5rem;
}

.menuDrawerLink{
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 1rem;
    transition: .3s ease-in-out;
}

.menuDrawerLink:hover{
    color: var(--orange);
    transition: .3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .menuDrawer{
        width: 50vw;
    }
}