.singleContainer{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.singleImg{
    width: 100%;
    margin: auto;
    flex: 3;
}

.singleImg img{
    width: 100%;
}

.singleInfo{
    flex: 1;
}

.singleOptions{
    margin: 1rem 0;
}

.colorBtn{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.5px 0.5px 2px 2px;
    margin-right: .5rem;
}
.sizes{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.sizeBtn{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border: none;
    width: 2rem;
    text-align: center;
}
.sizeBtn:hover{
    border: 1px solid black;
}

.singleBtns button{
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
    .singleContainer{
        flex-direction: row;
    }
}