.categories{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.catCard{
    width: 20rem;
    height: 20rem;
    text-align: center;
    position: relative;
    background-color: black;
    transition: .3s ease;
}

.catCardBtn{
    width: 100%;
    height: 100%;
    background: none;
    color: var(--orange);
    cursor: pointer;
}

.catCardBtn h3{
    font-weight: 500;
    font-size: 2rem;
}

.catCard:hover{
    transform: scale(1.1);
    transition: .3s ease;
}

@media screen and (min-width:768px) {
    .categories{
        flex-direction: row;
    }
}