.cartDrawer{
    transform: translateX(150%);
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
    transition: .5s ease-in-out;
}

.closeCart{
    color: var(--orange);
    margin: 1rem;
    font-size: 1.5rem;
}

.cartDrawerLink{
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 1rem;
    transition: .3s ease-in-out;
}

.cartDrawerLink:hover{
    color: var(--orange);
    transition: .3s ease-in-out;
}

.clearCartBtn{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 1rem;
    transition: .3s ease-in-out;
    font-size: 1.5rem;
}
.clearCartBtn:hover{
    color: var(--orange);
    transition: .3s ease-in-out;
}
.itemInCartInfo,.itemInCartQty{
    color: white;
}

.itemInCart{
    display: flex;
    justify-content: space-around;
}

.itemInCartImg {
    width: 25%;
}

.itemInCartImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.itemInCartInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.itemInCartQty{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemInCartQty span{
    cursor: pointer;
}

#deleteProduct{
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteItem{
    color: white;
    cursor: pointer;
}

.totalPrice{
    color: var(--orange);
}

.plus,.minus{
    color: white;
}

@media screen and (min-width: 768px) {
    .cartDrawer{
        width: 50vw;
    }
}