:root{
    --navBar:lightgray;
    --orange:#ffbd4a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.sm_hidden{
    display: none;
}

.lg_hidden{
    display: block;
}

.normalBtn{
    border: none;
    outline: none;
}

.active-link{
    color: var(--orange);
    text-decoration: underline;
}

.link{
    text-decoration: none;
    color: inherit;
}

.menuLink{
    cursor: pointer;
    transition: .3s ease-in;
}

.menuLink:hover{
    transition: .5s ease-in-out;
    color: var(--orange);
}

:disabled{
    opacity: 0.8;
}

@media screen and (min-width: 768px){
    .sm_hidden{
        display: block;
    }
    .lg_hidden{
        display: none!important;
    }
}